body {
    background-color: #E5E5E5;
}

.all_img {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

.Diya {
    background-color: black;
    width: 512px;
    height: 512px;       
}

.position{
    text-align: center;
    position: relative;
    top: 112px;
}

.Prapor {
    margin: 0;
    background-color: #FFCE22;
    width: 512px;
    height: 512px;
}
.Prapor img{
    text-align: center;
}
.img{

    position: relative;
    top: -100px;
    left: 83px;
}

.blue{
    background-color: #2137FC;
    height: 256px;
}

.Prapor_circle {
    background-color: #FFFFFF;
    width: 512px;
    height: 512px;
}

.PC_blue{
    margin: 10%;
    height: 80%;
    background: linear-gradient(180deg, #2137FC 50%, #FFCE22 50%);
    border-radius: 50%;
}
.img_2{
       position: relative;
    top: -258px;
    left: 83px;
}